:root{
    --color-primary: rgba(206, 199, 255, 0.8);
    --success: #001ade;
    --color-danger: #678cfb;
    --warning: #000f84;
    --color-white: #fff;
    --color-info-dark: #f7f7f7;
    --color-info-light: #ececec;
    --color-dark: #07041a;
    --color-light: #ebe8ff;
    --color-bg:#f1f3ff;
    --color-gray: #a6a6a6;
    --drk-clr: #000;

    --card-border-raduis: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;

    --card-paddig: 1.8rem;
    --padding-1: 1.2rem;

    --box-shadow: 0rem .6rem 1.5rem #0b0a1144;
}

*{
    padding: 0;
    margin: 0;
    outline: 0;
    appearance: none;
    border: 0;
    text-decoration: none;
    box-sizing: border-box;
    user-select: none;
}

html{
    font-size: 14px;
}

body {
    position: relative;
    font-family: poppins, sans-serif;
    font-size: 0.88rem;
    /* background: var(--color-bg); */
}

.color-dark{
    color: #fff;
    color: var(--color-dark);
}

img{
    display: block;
    width: 100%;
}

h1{
    font-weight: 800;
    font-size: 3rem;
    text-transform: capitalize;
}

h2{
    font-size: 2.5rem;
}

h3{
    font-size: 2rem;
}

h4{
    font-size: 1.5rem;
}
h5{
    font-size: 1rem;
}

.medium{
  font-size: 1.88rem;
}

small{
    font-size: 0.7rem;
}

.large{
    font-size: 4rem;
}
.profile-photo{
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    overflow: hidden;
}

.text-muted{
    color: var(--color-gray);
    font-weight: 400;
}

p{
    color: var(--color-dark);
}

b{
    font-weight:900;
}

.primary{
    color: var(--color-primary);
}
.danger{
  color: var(--color-danger);
}

.success{
    color: var(--success);
}

.header{
    text-transform: capitalize;
    margin-bottom: 3.5rem;
    font-weight: 400;
    color: var(--color-dark);
}
.header span{
 font-weight: 800;
}

.warning{
    color: var(--warning);
}




.container{
    width: 80%;
    height: 100%;
    margin: 0 auto;

}


/* nav  */
nav{
    position: sticky;
    top: 0;
    z-index: 1000;
    width: 100%;
    padding:1rem;
    border-bottom: 1px solid #f1f1f1;
    background: var(--color-white);
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav .logo{
    display: flex;
    gap: .5rem;
    align-items: center;
}
.nav .logo img{
    width: 2.8rem;
    height: 2.8rem;
}
.nav-list{
    display: flex;
    gap: 1rem;
    color: var(--color-light);
    text-transform: capitalize;
}

.nav-link{
    padding:.5rem 1rem;
    color: var(--color-dark);
    transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    list-style: none;
}
.active,
.nav-link:hover{
  border-bottom:3px solid var(--success);
}

.nav-btn{
    padding: .8rem;
    background: var(--success);
    color: var(--color-info-light);
    border-radius: var(--border-radius-1);
    -webkit-border-radius: var(--border-radius-1);
    -moz-border-radius: var(--border-radius-1);
    -ms-border-radius: var(--border-radius-1);
    -o-border-radius: var(--border-radius-1);
    transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
}
.nav-btn:hover{
    background: var(--color-danger);
}
.sub-menu{
    position: absolute;
    display: none;
    flex-direction: column;
    background: var(--color-white);
    top: 1rem;
    align-items: start;
    justify-content: end;
    opacity: 0;
    left: -5rem;
    width: 15rem;
    height: 10rem;
    padding: 2rem 0 0 0;
    z-index: 10;
    box-shadow:0px 12px 10px rgba(0, 0, 0, 0.172);
}
.sub-menu a{
    width: 100%;
    border-bottom: 1px solid #f2f2f2;
}
.sub-menu li{
    padding: 1rem;
    width: 100%;
}

#parent-menu:hover .sub-menu{
    display: flex;
    opacity: 1;
}

#parent-menu,
.nav-link{
    padding:.5rem 1rem;
    color: var(--color-dark);
    transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    list-style: none;
    position: relative;
    display: flex;
    gap: 1rem;
    align-items: center;
}
#parent-menu{
    background: #fff;
    font-weight: 400;
    font-size: .9rem;
}
#parent-menu,
.nav-link li{
    position: relative;
}

/* nav */


.contact{
    width: 100%;
    min-height: 70vh;
    padding: 5rem 0 2rem 0;
}
.contact-row{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.col{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
    background: var(--warning);
    color: var(--color-white);
}
.contact-details{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: space-evenly;
}

.contact-box{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background: var(--success);
    padding: 1rem;
}
.contact-box ul{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
.contact-box ul li{
    list-style: none;
    display: flex;
    gap: 1rem;
    font-size: larger;
    color: var(--color-info-light);
}
.contact-box ul li i{
    color: var(--color-white);
}

.spanTwo{
    grid-column: span 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 5px solid var(--warning);
    padding: 2rem 0;
}

.contact-media{
    display: flex;
    gap: 1rem;
}

.contact-media a{
    color: var(--color-white);
    padding: 1rem;
    background: var(--success);
    font-size: 1.1rem;
    transition: all 500ms ease-in-out;
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.contact-media a:hover{
    transform: rotateZ(45deg) scale(1.2);
    -webkit-transform: rotateZ(45deg) scale(1.2);
    -moz-transform: rotateZ(45deg) scale(1.2);
    -ms-transform: rotateZ(45deg) scale(1.2);
    -o-transform: rotateZ(45deg) scale(1.2);
    color: #000f84;
}
.form-group{
    width: 80%;
    height: 100%;
    display: flex;
    align-items: flex-end;
}

form{
    width: 100%;
    height: 80%;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1rem;
}
.span-2{
    grid-column: span 2;
}

.input-box{
    position: relative;
    height: 3rem;
    border-bottom: 1px solid var(--warning);
    padding: 0 .3rem;
}       

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    font-size: 1.1rem;
    outline: none;
    border: none;
}

.input-box label{
    position: absolute;
    left: .3rem;
    bottom: 0;
    font-size: 1.1rem;
    font-weight: 600;
}

.input-box span{
    position: absolute;
    right: .3rem;
    bottom: .3rem;
    font-size: 1.2rem;
}
 .input-box > input:valid~label,
.input-box > input:focus~label{
    top: -1rem;
    font-weight: 300;
}

.textarea-box{
    height: 6rem;
    position: relative;
    border-bottom: 1px solid var(--warning);
}
.textarea-box textarea{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1.1rem;
}
.textarea-box label{
    position: absolute;
    left: .3rem;
    bottom: .3rem;
}

.textarea-box textarea:valid~label,
.textarea-box textarea:focus~label{
    top: -1rem;
}

.contact-btn{
    background: var(--warning);
    color: var(--color-white);
    font-size: 1.2rem;
    padding: .5rem 0;
    font-weight: 600;
    cursor: pointer;
    transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
}
.contact-btn:hover{
  background: var(--success);
  cursor: pointer;
}

.map{
    width: 100%;
    overflow: hidden;
    border: 5px solid var(--warning);
}
.map > *{
    width: 100%;
    object-fit: cover;
}
/* side nave */
aside{
    position: fixed;
    top: 0;
    left: -100%;
    display: flex;
    width: 100%;
    background: var(--color-bg);
    color: var(--drk-clr);
    z-index: 500;
    padding: 3rem 0;
}

.display{
    left: 0;
    transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
}

.bars{
    font-size: 1.5rem;
    position: absolute;
    right: 2.5rem;
    top: 1.5rem;
    display: none;
    opacity: 0;
}

/* side nave */
@media(width < 700px) {
/* nav styling in small screen */
.nav-list{
    display: none;
}
h1{
  font-size: 1.5rem;
}
h2{
    font-size: 1.2rem;
}
h3{
    font-size: 1.2rem;
}
h4{
    font-size: 1rem;
}
h5{
    font-size: .7rem;
}
p{
    font-size: .77rem;
}
b{
    font-weight: 600;
}
nav{
    padding: .5rem;
}
.nav .logo img{
    width: 2rem;
    height: 2rem;
}
.nav-btn{
    display: none;
}
aside{
  display: none;
}

.side-bar{
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.bars{
    display: flex;
    opacity: 1;
}
.sidenav-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    height: 70%;
    margin: auto;
}
.sidenav-link{
    list-style: none;
    padding: 1rem;
    color: var(--color-dark);
    text-transform: capitalize;
}
.sidenav-btn{
    align-self: center;
}

.close{
    position: absolute;
    font-size: 2rem;
    right: 2rem;
    top:4rem;
}
/* nav styling in small screen */

    .container{
        width: 90%;
    }
    section{
        padding: 2rem 0;
    }
    .header{
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }
    .contact-row{
        display: grid;
        grid-template-columns:1fr;
    }
    .form-group{
        padding-bottom: 2rem;
        width: 100%;
    }
    form{
        width: 100%;
        height: 100%;
        grid-template-columns: repeat(2,1fr);
        
    }
}


@media (max-width: 490px) {
    .container{
        width: 100%;
    }
    form{
        width: 100%;
        height: 100%;
        grid-template-columns: 1fr;
        
    }
    .span-2{
        grid-column: span 1;
    }
    .spanTwo{
    border: none;
    }
    .map{
        border: none;
    }
}