:root{
    --color-primary: rgba(206, 199, 255, 0.8);
    --success: #001ade;
    --color-danger: #678cfb;
    --warning: #000f84;
    --color-white: #fff;
    --color-info-dark: #f7f7f7;
    --color-info-light: #ececec;
    --color-dark: #07041a;
    --color-light: #ebe8ff;
    --color-bg:#f1f3ff;
    --color-gray: #a6a6a6;
    --drk-clr: #000;

    --card-border-raduis: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;

    --card-paddig: 1.8rem;
    --padding-1: 1.2rem;

    --box-shadow: 0rem .6rem 1.5rem #0b0a1144;
}

*{
    padding: 0;
    margin: 0;
    outline: 0;
    /* appearance: none; */
    border: 0;
    text-decoration: none;
    box-sizing: border-box;
    /* user-select: none; */
}

html{
    font-size: 14px;
}

body {
    position: relative;
    font-family: poppins, sans-serif;
    font-size: 0.88rem;
    overflow-x: hidden;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section{
    margin-top: 4rem;
    min-height: 20vh;
    width: 100%;
}

.message-content{
  min-width: 230px;
  max-width: 400px;
  padding: 1rem;
  color: #363636;
  line-height: 22px;
  border: 1px solid #ccc;
  border-radius: 2ch 2ch 2ch .3ch;
  -webkit-border-radius: 2ch 2ch 2ch .3ch;
  -moz-border-radius: 2ch 2ch 2ch .3ch;
  -ms-border-radius: 2ch 2ch 2ch .3ch;
  -o-border-radius: 2ch 2ch 2ch .3ch;
}
.user{
    padding: 1rem;
    border: 1px solid #ccc;
    width: fit-content;
    display: flex;
    background: var(--warning);
    color: var(--color-info-dark);
    font-size: 1.2rem;
    align-items: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}