/* ==================== gogle fonts=========================== */
*{
    font-family: "Utuntu", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --blue: #2a2185;
    --sub-blue: #0b0553;
    --white: #fff;
    
    --gray: #f5f5f5;
    --black1: #222;
    --black2: #999;
}

body{
    min-height: 100vh;
    /* overflow: hidden; */
}

.bord-container{
    position: relative;
    width: 100%;
}


/* ==================Navigation========================= */
.navigation{
   position: fixed;
   width: 300px;
   height: 100%;
   background: var(--blue);
   border-left: 10px solid var(--blue);
   transition: all 0.5s;
   -webkit-transition: all 0.5s;
   -moz-transition: all 0.5s;
   -ms-transition: all 0.5s;
   -o-transition: all 0.5s;
   overflow: hidden;
   display: flex;
   flex-direction: column;
   justify-content: center;
}

.navigation.active{
    width: 80px;
}

.navigation > ul{
    margin-top: 8rem;
    margin-bottom: auto;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;    
    gap: 1.5rem;
}

.sideNav{
    position: static;
    top: 8rem;
    height: fit-content;
}
.kok,
.navigation ul li{
    display: flex;
    flex-wrap: nowrap;
    line-height: 60px;
    justify-content: space-between;
    gap: 1rem;
    position: relative;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
}
.kok,
.navigation ul li:hover,
.navigation ul li.hovered{
    background: var(--white);
}
.kok{
    color: var(--blue);  
}
.navigation ul li a{
  color: var(--white);
  text-decoration: none;
  position: relative;
  display: block;
  width: 100%;
}

.user{
  cursor: pointer;
}

.sub-account{
    position: absolute;
    right: 2rem;
    top: 5rem;
    background: var(--white);
    display: none;
    flex-direction: column;
    gap: 1rem;
    box-shadow: 0 12px 10px #00000033;
    z-index: 10;
}

.ashow{
    display: flex;
}
.sub-account *{
    text-decoration: none;
    font-weight: 600;
    color: var(--black1);
    list-style: none;
}

.sub-account li:last-child{
    border-bottom: none;
}
.danger{
    color: red;
}
.sub-account li{
    border-bottom: 1px solid #eeeeee98;
    padding: 1rem 1.5rem;
}

.sub-btn2,
.sub-btn{
    cursor: pointer;
}

.navigation .sub-menu2 a,
.navigation .sub-menu a{
    cursor: pointer;
}

.navigation .sub-menu2,
.navigation .sub-menu{
    display: none;
    background: var(--sub-blue) !important;
    color: var(--white) !important;
    z-index: 4;
    border-radius: 2.5rem 0 0 2.5rem;
    -webkit-border-radius: 2.5rem 0 0 2.5rem;
    -moz-border-radius: 2.5rem 0 0 2.5rem;
    -ms-border-radius: 2.5rem 0 0 2.5rem;
    -o-border-radius: 2.5rem 0 0 2.5rem;
    transform: scaleY(0);
    -webkit-transform: scaleY(0);
    -moz-transform: scaleY(0);
    -ms-transform: scaleY(0);
    -o-transform: scaleY(0);
    transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
}

.navigation .dis{
    display: flex;
    flex-direction: column;
    color: var(--white);
    transform: scaleY(1);
    -webkit-transform: scaleY(1);
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -o-transform: scaleY(1);
    transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
}
.navigation .dis2{
    display: flex;
    flex-direction: column;
    color: var(--white);
    transform: scaleY(1);
    -webkit-transform: scaleY(1);
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -o-transform: scaleY(1);
    transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
}

.message-count{
    position: absolute;
    padding: .5rem;
    top: .2rem;
    left: 2.1rem;
    width: 1.8rem;
    height: 1.3rem;
    font-size: .8rem;
    background: red;
    border-radius: 20%;
    display: flex;
    align-items: center;
    /*z-index: 3;
    */justify-content: center;
    -webkit-border-radius: 20%;
    -moz-border-radius: 20%;
    -ms-border-radius: 20%;
    -o-border-radius: 20%;
    color: var(--gray);
}

.kok,
.navigation ul li.hovered a,
.navigation ul li:hover a{
    color: var(--blue) !important;
}

.navigation ul li a .icon i{
    font-size: 1.75rem;
    padding:0 1rem;
}
 
.navigation ul li .tittle{
    position: relative;
    padding: 0 10px;
    position: absolute;
    height: 60px;
    transform: translateX(2.4rem);
    text-align: start;
    white-space: nowrap;
    -webkit-transform: translateX(2.4rem);
    -moz-transform: translateX(2.4rem);
    -ms-transform: translateX(2.4rem);
    -o-transform: translateX(2.4rem);
}


.navigation ul li .kok::before,
.navigation ul li.hovered a::before,
.navigation ul li:hover a::before{
    content: "";
    position: absolute;
    right: 0;
    top: -50px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background: transparent;
    box-shadow:  35px 35px 0 10px var(--white);
    pointer-events: none;
}
.navigation ul li .kok::after,
.navigation ul li.hovered a::after,
.navigation ul li:hover a::after{
    content: "";
    position: absolute;
    right: 0;
    bottom: -50px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: transparent;
    /* background: var(--blue); */
    box-shadow:  35px -35px 0 10px var(--white);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    pointer-events: none;
    -webkit-border-radius: 50%;
}








/* =========main==================== */
.main{
    position: absolute;
    width: calc(100% - 300px);
    left: 300px;
    min-height: 100vh;
    background: var(--white);
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.main.active{
    width: calc(100% - 80px);
    left: 80px;
}

.topbar{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 3rem;
}

.toggler{
    position: relative;
    top: 0;
    width: 60px;
    /* background: #ccc; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    padding: 1rem;
    cursor: pointer;
}

.search{
    position: relative;
    width: 400px;
    margin: 0 10px;
}

.search label{
    position: relative;
    width: 100%;
    display: flex;
}
.search label form{
    display: flex;
    border: 1px solid #0001;
    border-radius: 4ch;
    -webkit-border-radius: 4ch;
    -moz-border-radius: 4ch;
    -ms-border-radius: 4ch;
    -o-border-radius: 4ch;
    padding: .5rem;
}
select{
  border: none;
  outline: none;
}
.search label form input{
    height: 40px;
    border-radius: 40px;
    padding:1rem;
    border: none;
    outline: none;
    outline: none;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
}

.search-btn{
    background: var(--blue);
    color: var(--gray);
    padding: 1rem 2rem;
    border-radius: 4ch;
    border: none;
    -webkit-border-radius: 4ch;
    -moz-border-radius: 4ch;
    -ms-border-radius: 4ch;
    -o-border-radius: 4ch;
}
.search label form .search-btn i{
    color: var(--gray);
    font-size: 1rem;
}
.user{
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}
.user img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* ============cards============== */
.cardBox{
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}
.cardBox .card{
    position: relative;
    display: flex;
    justify-content: space-between;
    background: var(--white);
    padding: 30px;
    box-shadow: 0 7px 25px var(--gray);
    transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

.cardBox .card .numbers{
    position: relative;
    font-weight: 700;
    font-size: 2.5rem;
    color: var(--blue);
}

.cardBox .card .cardName{
    color: var(--black2);
    font-size: 1.1rem;
    margin-top: 5px;
    text-transform: capitalize;
}
.cardBox .card .iconBox{
    font-size: 3.2rem;
    color: var(--black2);
}
.cardBox .active,
.cardBox .card:hover{
    background: var(--blue);
}

.cardBox .active .numbers,
.cardBox .active .cardName,
.cardBox .active .iconBox,
.cardBox .card:hover .numbers,
.cardBox .card:hover .cardName,
.cardBox .card:hover .iconBox{
    color: var(--white);
}




/* =========== recent messages=================== */
.details{
    position: relative;
    width: 100%;
    padding: 30px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 30px;
    margin-top: 1rem;
}
.details .recentOrders{
    position: relative;
    display: grid;
    min-height: 420px;
    background: var(--white);
    padding: 20px;
    box-shadow: 0 7px 25px #0003;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.details .cardHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cardHeader h2{
    font-weight: 600;
    color: var(--blue);
}
.cardHeader .btn{
    position: relative;
    padding: 5px 10px;
    background: var(--blue);
    text-decoration: none;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    color: var(--white);
}

.details table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}
.details table thead td{
    font-weight: 800;
}

.details .recentOrders table tr{
    color: var(--black1);
    border-bottom: 1px solid var(--gray);
}

.details .recentOrders table tr:last-child{
    border-bottom: none;
}
tr:nth-of-type(2n){
  background: rgba(0, 0, 255, 0.104);
}
.details .recentOrders table tr td{
    padding: 10px;
}
.details .recentOrders table tr td:last-child{
    text-align: end;
}
.details .recentOrders table tr td:nth-child(2){
    text-align: end;
}
.details .recentOrders table tr td:nth-child(2){
    text-align: center;
}



/* =========new users ========== */
.recentOrders table tr td img{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
/* =========new users ========== */

/* =========== recent messages=================== */

/* =================Pagination Button================ */
.btn-b{
    width: 40px;
    height: 40px;
    margin: 1rem .1rem 0 0;
    align-items: center;
    border: none;
    justify-content: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.btn-b:hover a{
    color: var(--gray);
}
.btn-b:hover{
    background: var(--blue);
}
.btn-b > a{
    width: 100%;
    height: 100%;
    padding: 1rem;
    margin: .3rem;
}














/* =========== media query=================== */
/* @media(width < 950){
.navigation{
    left: -100%;
}
} */
/* =========== media query=================== */
